body{
	margin:0% auto;
}
.container{
	position:relative;
    width:100%;
    background-color:white;
}
header {
    background-color:black;
    padding:1%;
	color:#E1B9D6;

}
nav ul{
    display: inline-block;
    list-style-type: none;
    margin: 0% auto;
}

nav
{		
    width:100%;
	background-color:#E1B9D6;
    text-align:left;
}
nav li
{
	margin:0%;
	list-style:none;
}
nav a
{
    color:black;
	text-decoration:none;
	font-family:"Goudy Old Style";
}
nav ul  li 
{
    display:inline-block;
    position:relative;
    font-size:23px;
	
}
nav ul li a 
{
    padding:10px 10px;
    display:inline-block;  
}
nav ul li:hover a
{
    background:#d194c0;
}
section{
	width:100%;
	margin:auto;
	background:white;
	overflow:auto;
}
/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
	animation-name: jssorl-009-spin;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.jssora061 {display:block;position:absolute;cursor:pointer;}
.jssora061 .a {fill:none;stroke:#fff;stroke-width:360;stroke-linecap:round;}
.jssora061:hover {opacity:.8;}
.jssora061.jssora061dn {opacity:.5;}
.jssora061.jssora061ds {opacity:.3;pointer-events:none;}

.Brendet{
	margin-left:1.5%;
	margin-top:1%;
}

.fotografi{
	margin-left:0.4%;
	border:1px solid #E1B9D6;
	float:left;
	width:19%;
}
.fotografi img{
	width:100%;
	height:auto;
}
.informacione_per_produkte{
	text-align:left;
	font-family:"Goudy Old Style";
	position:relative;
	margin-left:1%;
	background-color:#E1B9D6;
}
.Videot{
	margin:0% 0.5%;
}
.Sezona{
	margin-left:5%;
}
footer {
	width:100%;
   	height: auto;
    text-align:center;
	color:#E1B9D6;	
	background-color:black;
	clear:both;
	overflow:auto;
}
.Referencat{
	margin-bottom:1%;
}